# ignore VAST output
*.o
*.dll
*.so
*.cpp
packageDescription.txt
settings.txt
# ignore data & images
*.RData
*.csv
*.png
*.nc
# ignore preliminary folder
/preliminary_ignore
/condor
/CaseStudy/
# ignore for latex
*.aux
*.bbl
*.blg
*.log
*.out
*.spl
*.synctex.gz
# ignore for word
/Manuscript/